<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
</head>

<body class="h-full items-center" style="background: #edf2f7;">
    <div class="flex flex-row min-h-screen bg-gray-100 text-gray-800">
        
        <partial name="Components/_DashSideNav" />

        <main class="main flex flex-col flex-grow -ml-64 md:ml-0 transition-all duration-150 ease-in">
            <header class="header fixed w-full bg-white shadow py-4 px-4">
                <div class="header-content flex items-center flex-row">
                    
                    <div class="flex ml-auto">
                        <a href class="flex flex-row items-center">
                            <img src="https://pbs.twimg.com/profile_images/378800000298815220/b567757616f720812125bfbac395ff54_normal.png"
                                 alt
                                 class="h-10 w-10 bg-gray-200 border rounded-full" />
                            <span class="flex flex-col ml-2">
                                <span class="truncate w-20 font-semibold tracking-wide leading-none">John Doe</span>
                                <span class="truncate w-20 text-gray-500 text-xs leading-none mt-1">Manager</span>
                            </span>
                        </a>
                    </div>
                </div>
            </header>
        <div class="main-content flex flex-col flex-grow p-4">
            <h1 class="font-bold text-2xl text-gray-700">Dashboard</h1>

            <div class="pl-64 pt-16">
                @RenderBody()
            </div>

        </div>
        <partial name="Components/_Footer" />
        </main>
    </div>
</body>
</html>
