
@{ 
    Layout = "_HomeLayout";
    ViewBag.Title = "Book Detail";
}

<div class="container px-6 py-10 mx-auto md:py-16 font-sans ...">
    <div>
        <div class="grid gap-8 grid-cols-4">
            <div class="col-span-1 ml-0">
                <div class="aspect-h-12 aspect-w-8 w-full">
                    <img src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                         alt="car photo" class="object-center object-cover"/>
                </div>
            </div>
            <div class="col-span-3">
                <div class="">
                    <h1 class="text-2xl text-md tracking-wide text-gray-900 md:text-4xl">
                        Things fall apart
                    </h1>
                    <div class="">
                        <div class="mt-2 text-sm">
                            <span class="text-gray-400">
                                Available Copies
                            </span>
                            <span class="text-g-900 mr-5 text-lg font-bold">
                                15
                            </span>
                            <span class="text-gray-400">
                                Copies in Library
                            </span>
                            <span class="text-g-900 mr-5 text-lg font-bold">
                                20
                            </span>
                            <span class="text-gray-400">
                                Copies Taken out
                            </span>
                            <span class="text-g-900 mr-5 text-lg font-bold">
                                5
                            </span>

                        </div>

                        <div class="mt-2">
                            <div class="mb-4">
                                <span class="text-sm text-gray-400">Genre: </span>
                                <span class="font-semibold">Business & Economics</span>
                            </div>
                            <div class="mb-4">
                                <span class="text-sm text-gray-400">Arthor: </span>
                                <span class="font-semibold">Nitin Seth</span>
                            </div>
                            <div class="mb-4">
                                <span class="text-sm text-gray-400">Language: </span>
                                <span class="font-semibold">English</span>
                            </div>
                            <div class="mb-4">
                                <span class="text-sm text-gray-400">Publisher: </span>
                                <span class="font-semibold">Penguin Random House India Pvt. Ltd</span>
                            </div>
                            <div class="mb-4">
                                <span class="text-sm text-gray-400">Published Date: </span>
                                <span class="font-semibold">24 June 2020</span>
                            </div>
                            <div class="mb-4">
                                <span class="text-sm text-gray-400">Added to Library: </span>
                                <span class="font-semibold">10 July 2020</span>
                            </div>
                            <div class="mb-4">
                                <span class="text-sm text-gray-400">ISBN : </span>
                                <span class="font-semibold">234567543576546</span>
                            </div>
                            <div class="mb-4">
                                <span class="text-sm text-gray-400">Pages: </span>
                                <span class="font-semibold">544</span>
                            </div>

                        </div>

                        <div class="mt-2">
                            <div class="grid gap-2 grid-cols-8">
                                <div class="col-span-1">Description: </div>
                                <div class="col-span-7">
                                    <div class="mb-9">
                                        <p class="overflow-ellipsis overflow-hidden ... leading-7">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Assumenda, quia temporibus eveniet a libero incidunt suscipit
                                            laborum, rerum accusantium modi quidem, ipsam illum quis sed
                                            voluptatum quae eum fugit earum.
                                        </p>
                                    </div>
                                    <div class="mt-2">
                                        <button class="btn btn-primary">Read Now</button>
                                        <button class="btn btn-secondary">
                                            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
                                            <span>Download</span>
                                        </button>

                                    </div>
                                    <div class="p-4 flex text-sm text-blue-600">
                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 fill-current text-blue-600">
                                            <path d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z">
                                            </path>
                                        </svg>
                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 fill-current text-blue-600">
                                            <path d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z">
                                            </path>
                                        </svg>
                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 fill-current text-blue-600">
                                            <path d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z">
                                            </path>
                                        </svg>
                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 fill-current text-blue-600">
                                            <path d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z">
                                            </path>
                                        </svg>
                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 fill-current text-blue-600">
                                            <path d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z">
                                            </path>
                                        </svg>
                                        <span class="ml-2 text-gray-800 text-2xl">3</span>
                                    </div>
                                    <div>
                                        <h3 class="mb-10 text-2xl font-bold">Reviews</h3>
                                    </div>


                                    <div>
                                        <h5 class="mb-2  text-lg font-bold">Subject</h5>
                                        <p>This is the subject of the review. I beseech you to always give a good review of all the books in this library. your name will be deleted from this library if you don't adhere to this rule</p>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>