<nav class="py-5 bg-white shadow-md">
    <div class="container">
        <div class="flex justify-between">
            <div class="flex">
                <img src="" alt="" />
                <span>Logo</span>
            </div>
            <div>
                <a class="inline-block px-4 hover:underline" href="">Login</a>
                <a class="inline-block px-4 hover:underline" href="">Register</a>
            </div>
        </div>
    </div>
</nav>